<div class="pos-f-t bg-menu">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Collapsed content</h5>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="row">
    <div class="col-lg-2"  style="background-color: #ec7000; min-height: 61px;">

    </div>
    <div class="col-lg-10">
      <i class="material-icons text-muted">
        apps
        </i>
    </div>
  </nav>
</div>
