<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
        <h1>Extrato Público</h1>
        <span class="text-muted">Coleção de Débitos de vereadores da Câmara de São Paulo</span>
    </div>
    <div class="col-md-2">
      <span class="text-white">Escolha o mês e o ano: </span>
    </div>
    <div class="col-md-4 d-inline">
      <app-filtro (novaData)="receberNovaData($event)"></app-filtro>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title text-center">Monitore os gastos dos Vereadores de São Paulo</h5>
      <p class="card-text text-center">Cada vereador dispõe também de uma verba destinada ao Auxilio-Encargos Gerais de Gabinete de até R$ 282.037,76 por ano,
         além dos proventos salariais e da verba para até 17 assistentes. Esta verba é destinada ao custeio de serviços gráficos, correios, assinaturas de jornais,
        deslocamentos por toda a cidade e materiais de escritório, entre outras despesas.</p>
    </div>
  </div>
  <div class="card-deck">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ dados.length }}</h5>
        <small class="card-text" *ngIf="dados">é total de notas emitidas no mês <span class="text-warning">{{ mes }}/{{ ano }}</span></small>
        <p-chart type="radar" [data]="data"></p-chart>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p-chart type="doughnut" [data]="data"></p-chart>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <!-- <p-toast [style]="{marginTop: '80px'}"></p-toast> -->

        <p-chart type="line" [data]="data" (onDataSelect)="selectData($event)"></p-chart>
      </div>
    </div>
  </div>

    <!--  -->

    <!-- <div style="display: block; width: 400px">
        <canvas baseChart width="400" height="400"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
        </canvas>
      </div> -->

      <!-- <div class="col-md-6">
          <app-doughnut *ngIf="dados" [data]="dados"></app-doughnut>
      </div>
    </div> -->


</div>


<!-- <app-login></app-login> -->

